*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --re-dark: #111111;
    --re-background-dark: #333333;
    --re-background-light: #FFFFFF;
    --re-banner-second: #D4D3F4;
    --re-primary: #9792E4;
    --re-secondary: #0084FD;
    --re-background-second: #B5DDFF;
    --re-banner-third: #FDC15F;
}

.container{
    width: 100%;
    margin: auto;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.row{
    margin: 0 -1rem;
}

[class^="col_"]{
    padding: 0 1rem;
}

.col_12{
    width: calc((100% / 12)* 1);
}


/*#region header*/
header{
    background-color: var(--re-secondary);
}

header .d-flex{
    justify-content: space-between;
}
/*#endregion header*/

/*#region main*/
.applications .col_12{
    background-color: var(--re-background-second);
}
/*applications*/

.planning{
    background-color: var(--re-primary);
}

.planning .row .col_12:last-child{
    background-color: var(--re-background-light);
}
/*planning*/

.cards{
    background-color: var(--re-primary);
    margin-bottom: 1.25rem;
}
/*partners*/

.benefits{
    background-color: var(--re-primary);
}

.benefits .col_12{
    background-color: var(--re-background-light);
}


/*#endregion main*/

@media screen and (min-width:768px) {
    .col_lg_6{
        width: calc((100% / 12)* 6);
    }
    
}

@media screen and (min-width:1200px){
    .container{
        width:70%;
        margin: auto;
    }

    .col_md_4{
        width: calc((100% / 12)* 4);
    }
    .col_md_8{
        width: calc((100% / 12)* 8);
    }
}