*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --re-dark: #111111;
    --re-background-dark: #333333;
    --re-background-light: #FFFFFF;
    --re-banner-second: #D4D3F4;
    --re-primary: #9792E4;
    --re-secondary: #0084FD;
    --re-background-second: #B5DDFF;
    --re-banner-third: #FDC15F;
}

.container{
    width: 70%;
    margin: 0 auto;
}

img{
    width: 100%;
}

.d-flex{
    display: flex;
}

.row{
    margin: 1rem -1rem;
}

[class^="col_"]{
    padding: 0 1rem;
}

.col_md_4{
    width: calc((100% / 12)* 4);
}
.col_md_8{
    width: calc((100% / 12)* 8);
}

.button{
    background-color: var(--re-primary);
    column-rule-color: var(--re-background-light);
    border-radius: 40px;
    padding: 0.5rem 0.5rem;
}

header,
.partners .cards,
.benefits h3,
.banner,
footer{
    color: var(--re-background-light);
}

/*#region header*/
header{
    background-color: var(--re-secondary);
}

header .d-flex{
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 1rem 0;
}

.mobile{
    display: none;
}
.desktop{
    display: flex;
}
.desktop a{
    padding-right: 1rem;
    text-decoration: none;
    color: var(--re-background-light);
}
.desktop .button{
    background-color: var(--re-background-light);
    color: var(--re-dark);
}

/*#endregion header*/

/*#region main*/
.applications .col_12{
    background-color: var(--re-background-second);
    border-radius: 20px;
}

.applications .col_md_8{
    flex-wrap: nowrap;
    margin-right: 1rem;
}

.applications h4{
    color: var(--re-secondary);
    padding: 1.5rem 0;
}

.applications p{
    padding-bottom: 2rem;
}


.applications .button{
    background-color: var(--re-secondary);
    text-decoration: none;
    color: var(--re-background-light);
    padding: 0.5rem 2rem;
}

.applications img{
    width: 90%;
    padding: 2.5rem 2rem 0;
}

.applications .col_md_4{
    text-align: center;
}

.applications .center{
    margin: 0 1rem;
}

.applications .col_md_4 i{
   font-size: 55px;
   color: var(--re-secondary);
   padding-top: 1rem;
}

/*applications*/

.planning{
    background-color: var(--re-primary);
}

.planning .row .col_12:last-child{
    background-color: var(--re-background-light);
}
/*planning*/

.cards{
    background-color: var(--re-primary);
    margin-bottom: 1.25rem;
}
/*partners*/

.benefits{
    background-color: var(--re-primary);
}

.benefits .col_12{
    background-color: var(--re-background-light);
}
/*benefits*/

/*about*/

.banner{
    background-color: var(--re-primary);
}

/*banner*/
/*#endregion main*/

/*#region footer*/
footer{
    background-color: var(--re-background-dark);
}
/*#endregion footer*/


@media screen and (max-width: 480px) {
    .container{
        width: 80%;
        margin: 0 auto;
    }

    .d-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .row{
        flex-direction: column;
    }

    .col_12{
        width: calc((100% / 12)* 12)
    }

    .applications .col_md_8{
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 1rem;
    }

    .applications .center{
        margin: 1rem 0;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
    }

    .mobile .fa-bars{
        color: var(--re-background-light);
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 95%;
    }

    .col_lg_6{
        width: calc((100% / 12)* 6);
    }

    .applications .row,
    .applications .col_md_8{
        display: flex;
    }
    
}
