*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --re-dark: #111111;
    --re-background-dark: #333333;
    --re-font-primary: #5A6E7F;
    --re-background-light: #FFFFFF;
    --re-banner-second: #D4D3F4;
    --re-primary: #9792E4;
    --re-secondary: #0084FD;
    --re-background-second: #B5DDFF;
    --re-banner-third: #FDC15F;
}

body{
    font-family: 'PT Sans', sans-serif;
    color: var(--re-font-primary);
}

.container{
    width: 70%;
    margin: 0 auto;
}

img{
    width: 100%;
}

.d-flex{
    display: flex;
}

.row{
    margin: 1rem -1rem;
}

[class^="col_"]{
    padding: 0 1rem;
}

.col_md_4{
    width: calc((100% / 12)* 4);
}
.col_lg_6{
    width: calc((100% / 12)* 6);
}
.col_md_8{
    width: calc((100% / 12)* 8);
}

.button{
    background-color: var(--re-primary);
    column-rule-color: var(--re-background-light);
    border-radius: 40px;
    padding: 0.5rem 0.5rem;
}

header,
.partners .cards,
.benefits h3,
.banner,
footer{
    color: var(--re-background-light);
}

/*#region header*/
header{
    background-color: var(--re-secondary);
}
header .d-flex{
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 1rem 0;
}
.mobile{
    display: none;
}
.desktop{
    display: flex;
}
.desktop a{
    padding-right: 1rem;
    text-decoration: none;
    color: var(--re-background-light);
}
.desktop .button{
    background-color: var(--re-background-light);
    color: var(--re-dark);
}
/*#endregion header*/

/*#region main*/
.applications .col_12{
    background-color: var(--re-background-second);
    border-radius: 20px;
}
.applications .col_md_8{
    flex-wrap: nowrap;
    margin-right: 1rem;
}
.applications h3{
    color: var(--re-secondary);
    padding: 1.5rem 0;
}
.applications p{
    padding-bottom: 2rem;
    font-weight: bold;
}
.applications .button{
    background-color: var(--re-secondary);
    text-decoration: none;
    color: var(--re-background-light);
    padding: 0.5rem 2rem;
}
.applications img{
    padding: 2.5rem 2rem 0;
}
.applications .col_md_4{
    text-align: center;
}
.applications .center{
    margin: 0 1rem;
}
.applications .col_md_4 i{
   font-size: 55px;
   color: var(--re-secondary);
   padding-top: 1rem;
}
/*applications*/

.planning{
    background-color: var(--re-primary);
}
.planning .container{
    width: 55%;
}
.planning .white{
    background-color: var(--re-background-light);
    border-radius: 40px;
    padding: 1rem;
    text-align: center;
}
.planning .row{
    padding: 2rem 0;
    align-items: end;
}
.planning .left{
    color: var(--re-background-light);
}
.left h3{
    margin-bottom: 2rem;
}
.left img{
    padding: 4rem 0;
}
.planning .right{
    padding: 5rem 1rem 0;
}
.planning .white img{
    padding: 1rem 2.5rem;
}
.right h4{
    margin-bottom: 1rem;
    color: var(--re-dark);
}
.right p{
    font-style: italic;
}
.right .fa-solid{
    background-color: var(--re-primary);
    border-radius: 50%;
    padding: 0.5rem 0.7rem;
    margin-top: 1rem;
    color: var(--re-dark);
}
/*planning*/

.cards{
    background-color: var(--re-primary);
    margin-bottom: 1.25rem;
    border-radius: 30px;
    align-items: center;
}
.photo img{
    width: 134px;
    height: 135px;
    border-radius: 50%;
    margin: 1rem 0.5rem;
}
.cards .cit{
    margin: 0 2rem;
}
.cit h4{
    margin-top: 1rem;
}
.partners_content{
    text-align: center;
    margin: 2rem;
}
.partners_content h4{
    font-weight: normal;
}
.partners_content h2{
    font-size: xx-large;
    margin: 1.5rem;
    color: var(--re-primary);
}
/*partners*/

.benefits{
    background-color: var(--re-primary);
}

.benefits .col_12{
    background-color: var(--re-background-light);
}
/*benefits*/

/*about*/

.banner{
    background-color: var(--re-primary);
}

/*banner*/
/*#endregion main*/

/*#region footer*/
footer{
    background-color: var(--re-background-dark);
}
/*#endregion footer*/

@media screen and (max-width: 768px) {
    header .container,
    .applications .container,
    .planning .container{
        width: 90%;
        margin: 0 auto;
    }

    .applications .row,
    .applications .col_md_8{
        display: flex;
    }
    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
    }

    .mobile .fa-bars{
        color: var(--re-background-light);
    }

    .planning .row{
        display: flex;
        flex-wrap: wrap;
    }
    .planning .col_12{
        width: calc((100% / 12)* 12)
    }
    
}


@media screen and (max-width: 480px) {
    header .container,
    .applications .container,
    .planning .container,
    .partners .container{
        width: 80%;
        margin: 0 auto;
    }

    .d-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .row{
        flex-direction: column;
        margin: 1rem 0;
    }

    .col_12{
        width: calc((100% / 12)* 12)
    }

    .applications .col_md_8{
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 1rem;
    }

    .applications .center{
        margin: 1rem 0;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
    }

    .mobile .fa-bars{
        color: var(--re-background-light);
    }

    .cards{
        justify-content: center;
        text-align: center;
    }

}

